@import url(http://fonts.googleapis.com/css?family=Volkhov:400,400italic,700,700italic);

@font-face {
  font-family: 'icon';
  src:url('/fonts/icon.eot?-gjeni8');
  src:url('/fonts/icon.eot?#iefix-gjeni8') format('embedded-opentype'),
    url('/fonts/icon.woff?-gjeni8') format('woff'),
    url('/fonts/icon.ttf?-gjeni8') format('truetype'),
    url('/fonts/icon.svg?-gjeni8#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon';
  speak: none;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
  content: "\e601";
}
.icon-ccw:before {
  content: "\e602";
}
.icon-link:before {
  content: "\e605";
}
.icon-marker:before {
  content: "\e603";
}
.icon-eraser:before {
  content: "\e604";
}

.label {
  position: absolute;
  left: -10000px;
}

.pull-bottom {
  position: absolute;
  bottom: 5px;
}

/* app css stylesheet */
body {
  margin: 0;
  padding: 0;
  background-color: #E4E5E5;
  font-family: Volkhov, Georgia, serif;
  font-size: 14px;
}

.brand {
  background-image: url('/img/baku_icon.png');
  background-repeat: no-repeat;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin: 0;
}

.sidebar {
  width: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.tab, .size-option {
  color: #FDFFFF;
  background-color: #7E7F7F;
  border: 0;
  width: 50px;
  height: 50px;
  margin: 0;
}

.tab+.tab, .landscape-sidebar .tab:first-child {
  border-top: 1px solid #FDFFFF;
}

.tool-selection {
  border-bottom: 1px solid #FDFFFF;
}

.tab-drawer .size-option:nth-child(3) {
  border-right: 1px solid #FDFFFF;
}

.tool-size {
  width: 50px;
  height: 50px;
  position: relative;
}

.tab-drawer {
  display: inline-block;
  width: 200px;
  position: absolute;
  right: 0;
}

.size-option {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 11px;
  font-weight: 300;
  display: inline-block;
  vertical-align: top;
}

.size-dot {
  display: inline-block;
  background-color: #FDFFFF;
  border-radius: 100%;
}

.size-5 {
  width: 3px;
  height: 3px;
}

.size-15 {
  width: 6px;
  height: 6px;
}

.size-25 {
  width: 9px;
  height: 9px;
}

.current-tool, .current-size {
  color: #E5BF2C;
  background-color: #3F4040;
}

.current-size .size-dot {
  background-color: #E5BF2C;
}

.source-info, .preview-nav button, .preview-info {
  color: #FDFFFF;
  background-color: #3F4040;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  padding: 20px;
  margin-bottom: 50px;
}

.source-info a, .preview-info a {
  color: #E5BF2C;
  text-decoration: none;
}

.source-title {
  font-size: 21px;
}

.new-source {
  text-align: right;
}

.container {
  margin: 50px 10px 50px 70px;
}

.blackout-board {
  background-color: #fff;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.blackout-image {
  margin: 0 auto 50px auto;
  text-align: center;
}

.preview-nav button {
  font-size: 16px;
  display: inline-block;
  width: 50%;
  border: 0;
}

.preview-nav button+button {
  border-left: 1px solid #FDFFFF;
}

.preview-info {
  margin: 0 auto 50px auto;
}

.blackout-canvas {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.blackout-source {
  text-align: justify;
  margin-right: 12px;
  margin-left: 12px;
  z-index: 1;
}

.container, .sidebar,
.preview-nav, .blackout-image {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.source-info {
  -ms-user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
}

.blackout-frame {
     -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  z-index: 10;
  width: 100%;
}

.blackout-source p,
.blackout-source div,
.blackout-source blockquote {
  line-height: 1.5em;
  line-height: calc((21 * 1em) / 14);
  margin-top: calc((21 * 1em) / 14);
  margin-bottom: calc((21 * 1em) / 14);
}

.blackout-source img {
  display: none;
}

.blackout-source h2 {
  font-size: 28px;
  line-height: 1.5em;
  line-height: calc(42 * 1em / 28);
  margin-top: calc((21 * 1em) / (28 * 2));
  margin-bottom: calc((21 * 1em) / 28);
  text-align: left;
}

.blackout-source h2:first-child {
  margin-top: 0;
}

.source-info, .blackout-board {
  -webkit-transition: height 500ms ease-in;
     -moz-transition: height 500ms ease-in;
       -o-transition: height 500ms ease-in;
          transition: height 500ms ease-in;
}

.tab-drawer {
  -webkit-transition: left 250ms ease-in-out;
     -moz-transition: left 250ms ease-in-out;
       -o-transition: left 250ms ease-in-out;
          transition: left 250ms ease-in-out;
}

@media screen and (orientation:landscape) {
  .container {
    margin-right: auto;
    margin-left: auto;
  }

  .landscape-sidebar {
    position: fixed;
    top: 50px;
    right: 0;
    width: 50px;
  }

  .landscape-sidebar .tab:first-child {
    border: 0;
  }
}

@media screen and (min-device-width: 768px) {
  .blackout-source {
    margin-right: 50px;
    margin-left: 50px;
       -moz-column-count: 2;
    -webkit-column-count: 2;
            column-count: 2;
       -moz-column-gap: 50px;
    -webkit-column-gap: 50px;
            column-gap: 50px;
       -moz-column-fill: balance;
    -webkit-column-fill: balance;
            column-fill: balance;
  }
}

@media screen and (min-device-width: 480px) and (max-device-width: 767px) {
  .container {
    width: 600px;
  }
}

@media screen and (min-device-width: 768px) {
  body {
    font-size: 16px;
  }

  .blackout-source p,
  .blackout-source div,
  .blackout-source blockquote {
    line-height: 1.5em;
    line-height: calc((24 * 1em) / 16);
    margin-top: calc((24 * 1em) / 16);
    margin-bottom: calc((24 * 1em) / 16);
  }

  .blackout-source img {
    display: none;
  }

  .blackout-source h2 {
    font-size: 32px;
    line-height: 1.5em;
    line-height: calc(48 * 1em / 32);
    margin-top: calc((24 * 1em) / (32 * 2));
    margin-bottom: calc((24 * 1em) / 32);
    text-align: left;
  }
}

@media screen and (min-device-width: 1200px) {
  .brand,
  .sidebar,
  .landscape-sidebar,
  .tab,
  .tool-size,
  .size-option {
    width: 100px;
    height: 100px;
  }

  [class^="icon-"], [class*=" icon-"] {
    font-size: 40px;
  }

  .tab-drawer {
    width: 400px;
  }

  .size-option {
    font-size: 14px;
  }

  .size-5 {
    width: 5px;
    height: 5px;
  }

  .size-15 {
    width: 15px;
    height: 15px;
  }

  .size-25 {
    width: 25px;
    height: 25px;
  }

  .source-title {
    font-size: 28px;
  }

  .source-title [class^="icon-"], [class*=" icon-"] {
    font-size: 24px;
  }

  .brand {
    background-size: 100px 100px;
  }

  .container {
    width: 800px;
  }

  .preview-nav {
    font-size: 20px;
  }

  .preview-info {
    line-height: 1.5em;
  }
}