@import url(http://fonts.googleapis.com/css?family=Volkhov:400,400italic,700,700italic);

/* app css stylesheet */
body {
  margin: 0;
  padding: 0;
  background-color: #FFF8E7;
  font-family: Volkhov, Georgia, serif;
  font-size: 14px;
}

.controls {
  text-align: center;
  margin-top: 50px;
}

.current-tool {
  border: 1px solid #000;
}

.source-title {
  margin-right: auto;
  margin-left: auto;
}

.blackout-board {
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

.blackout-board {
  margin: 0 auto 50px auto;
}

.blackout-image {
  margin: 50px auto;
  text-align: center;
}

.blackout-canvas {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.blackout-source {
  text-align: justify;
  margin-right: 12px;
  margin-left: 12px;
}

.blackout-source, .controls {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.blackout-board, .source-title {
  width: 294px;
}

.blackout-board {
  height: 400px;
}

.blackout-source p,
.blackout-source div,
.blackout-source blockquote {
  line-height: 1.5em;
  line-height: calc((21 * 1em) / 14);
  margin-top: calc((21 * 1em) / 14);
  margin-bottom: calc((21 * 1em) / 14);
}

.blackout-source img {
  display: none;
}

.blackout-source h2 {
  font-size: 28px;
  line-height: 1.5em;
  line-height: calc(42 * 1em / 28);
  margin-top: calc((21 * 1em) / 28);
  margin-bottom: calc((21 * 1em) / (28 * 2));
  text-align: left;
}

.blackout-board {
     -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-top: 21px solid white;
  border-bottom: 21px solid white;
}

@media screen and (min-device-width: 768px) {
  body {
    font-size: 16px;
  }

  .blackout-board, .source-title {
    width: 800px;
  }

  .blackout-board {
    height: 792px;
    border-top: 72px solid white;
    border-bottom: 72px solid white;
  }

  .blackout-source p,
  .blackout-source div,
  .blackout-source blockquote {
    line-height: 1.5em;
    line-height: calc((24 * 1em) / 16);
    margin-top: calc((24 * 1em) / 16);
    margin-bottom: calc((24 * 1em) / 16);
  }

  .blackout-source img {
    display: none;
  }

  .blackout-source h2 {
    font-size: 32px;
    line-height: 1.5em;
    line-height: calc(48 * 1em / 32);
    margin-top: calc((24 * 1em) / 32);
    margin-bottom: calc((24 * 1em) / (32 * 2));
    text-align: left;
  }
}

@media screen and (min-device-width: 480px) {
  .blackout-source {
    margin-right: 50px;
    margin-left: 50px;
       -moz-column-count: 2;
    -webkit-column-count: 2;
            column-count: 2;
       -moz-column-gap: 50px;
    -webkit-column-gap: 50px;
            column-gap: 50px;
       -moz-column-fill: balance;
    -webkit-column-fill: balance;
            column-fill: balance;
  }
}

@media screen and (min-device-width: 480px) and (max-device-width: 767px) {
  .blackout-board, .source-title {
    width: 600px;
  }

  .blackout-board {
    height: 504px;
    border-top: 63px solid white;
    border-bottom: 63px solid white;
  }
}