/* app css stylesheet */
body {
  margin: 0;
  padding: 0;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#canvas-stage {
  position: relative;
  margin: 50px auto;
}

#canvas-text, #blackout-canvas {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-device-width: 768px) {
  #canvas-stage {
    width: 800px;
    height: 800px;
  }
}

@media screen and (min-device-width: 480px) and (max-device-width: 767px) {
  #canvas-stage {
    width: 600px;
    height: 500px;
  }
}

@media screen and (max-device-width: 479px) {
  #canvas-stage {
    width: 270px;
    min-height: 400px;
  }
}